# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependencies
node_modules/

# Distribution
dist/

# Environment variables
.env

# Testing
coverage/

# Build system
build/
temp/

# Editor and IDE files
.vscode/
.idea/

# Miscellaneous
.DS_Store
Thumbs.db
*.swp
